
<div class="card" style="width: 40rem;">
    <img class="card-img-top" src="{{annonce?.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ annonce?.titre }}</h5>
      <p class="card-text">{{ annonce?.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Prix : {{ annonce?.prix }}</li>
      <li class="list-group-item">Adresse : {{ annonce?.adresse }}</li>
      <li class="list-group-item"></li>
    </ul>
    <div class="card-body">
    </div>
  </div>